<div class="container-fluid">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Housed</h1>
    <p>We are a new way to enjoy live music. We make it easy to schedule, host, and find underground house concerts.</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row-fluid">
    <div class="span4">
      <h2>Artists</h2>
       <p>Support your music by playing house shows. We make it easy to schedule shows and manage tours, so you can focus on the music.</p>
      <p><a class="btn" href="#">Sign in &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Hosts</h2>
       <p>Find musicians to host. Organize a show, invite your friends, and listen to the music.</p>
      <p><a class="btn" href="#">Sign in &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>Fans</h2>
      <p>Find shows in your neighborhood, get invitations from friends, and buy tickets. Only see shows where you know someone who's going.</p>
      <p><a class="btn" href="#">Sign in &raquo;</a></p>
    </div>
  </div>